html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #f2c3e7;
  overflow-x: hidden;
  padding-top: 60px; /* Place content 60px from the top */
  transition: .5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: white
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  min-height: 90vh;
  height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#mySidenav {
  display: block
}

#mySidenav.p {
  color: white;
}

.card {
  padding: 15px;
  margin: 15px;
  line-height: 5px;
}

.card2 {
  line-height: 25px;
}

#footer-id {
  transition: margin-left .5s;

}

#nav-button {
  border: 0px;
}

